.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8eb3b;
    color: white;
    }
    .navbar-logo p{
    font-size: 30px;
    font-weight: bold;
    float: right;
    color:white;
    padding-left: 8px;
    }
    .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    }
    .navbar-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    }
    .navbar-link:hover {
    color: #61dafb;
    }
    img{
        
    }