.image {
   width: 70px;
   height: 70px;
   border-radius: 50%; 
   object-fit: cover; 
   margin-bottom: 15px; 
 }
 
 .container {
   background-color: #D3D3D3;
   display: flex; 
   align-items: flex-start; 
   justify-content: flex-start; 
   padding: 20px; 
   gap: 30px; }
 
 .card {
   box-shadow: 0 4px 10px ; 
   border-radius: 15px;
   background-color:#ADD8E6; 
   width: 300px; 
   text-align: center; 
 }
 

 
 .card h2, .card h3, .card p {
   margin: 10px 0; 
 }
 
 
 .card h2 {
   font-size: 1.5rem;
   font-weight: bold;
 }
 
 .card h3 {
   font-size: 1.2rem;
   color: #333;
 }
 
 .card p {
   font-size: 1rem;
   color: #555;
 }
 


 