body{
  background-color: #777;
}
.card {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
  background-color: white;
  width: 300px;
  text-align: center;
  padding: 20px;
  margin-left: 15px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}


.card h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 10px;
}

.card h3 {
  font-size: 1.1rem;
  color: #555;
}

.card p {
  font-size: 1rem;
  color: #777;
}

.card .image {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
 
}


 